   /* CSS Reset 
    Algumas tags ja veem com algum CSS padrão, o Reset remove isso.
   */
   
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-image: url(../img/fundo.jpg);
    background-size: 100vw 100vh;
    height: 100%;
    font-family: Arial;
    font-size: 12px;
  }
  
  /* breakpoint */
  @media (min-width: 310px){
    body{
      font-size: 8px;
    }
  }

  @media (min-width: 350px){
    body{
      font-size: 11px;
    }
  }

  @media (min-width: 390px){
    body{
      font-size: 12px;
    }
  }

  @media (min-width: 590px){
    body{
      font-size: 16px;
    }
  }

  header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
  }

  nav.menu{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
  }

  nav.menu ul{
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
  }
  
  nav.menu li{
    list-style: none;
  }
  
  nav.menu a {
    display: block;
    padding: 10px;
    transition: background-color 800ms, color 800ms;
  }
  
  nav.menu a:hover{
    background-color: teal;
    color: whitesmoke;
    text-decoration: none;
  }

  a {
    text-decoration: none;
    font-weight: 500;
    color: teal;
  }
  
  a:hover{
    color: green;
    text-decoration: underline;
  }
  
  h2.site-subtitle, 
  h1.site-title{
    color: whitesmoke;
    text-align: center;
  }

  h1.site-title{
    font-size: 6em;
    line-height: 1em;
  }

  .titulos {
    transform: scale(0.2) translateZ(50vh);
    opacity: 0;
    animation: linear 1s animacaoTitulo forwards;
  }

  @keyframes animacaoTitulo{
    /*Animação para o estado final*/
    100% {
      transform: scale(1) translateZ(0);
      opacity: 1;
    }
  }

  section{
    color: whitesmoke;
  }
  
  section.serviços, .contato{
    font-family: 'Josefin Sans', sans-serif;
    padding: 4em;
    min-height: 100vh;
  }

  section.serviços h2{
    font-size: 2em;
    margin-bottom: 1.2em;
  }

  section.serviços .grid{
    display: grid;
    gap: 2em;
  }

  @media (min-width: 560px){
    .serviços .grid {
      grid-template-columns: repeat(2, 240px);
      justify-content: center;
    }
  }

  @media (min-width: 860px){
    .serviços .grid {
      grid-template-columns: repeat(3, 240px);
      justify-content: center;
    }
  }

  @media (min-width: 1200px){
    .serviços .grid {
      grid-template-columns: repeat(4, 300px);
      justify-content: center;
      align-content: center;
      height: calc(95vh - 48px - 13em);
    }
  }

  section.serviços figure {
    text-align: center;
  }

  section.serviços figcaption {
    font-size: 1.1em;
  }

  section.contato h2{
    font-size: 2em;
    margin-bottom: 1.2em;
  }

  section.contato a{
    color: whitesmoke;
    font-size: 4em;
  }

  section.contato a:hover{
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, .5);
  }

  section.contato .icons{
    text-align: center;
  }

  .img-portfolio{
    height: 180px;
    width: 260px;
    object-fit: cover;
    object-position: left bottom;
    border-radius: 5px;
    transition: transform 500ms;

  }

  .img-portfolio:hover{
    transform: scale(1.3);
  }